.title {
	text-align:center;
	color:#D4AC0D; 
	font-weight: bold;
	text-decoration: underline overline #D4AC0D; 
}

button {
  background-color: #1B4B63;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
  font-weight: bold;
  color: #FFF;
}

button:hover {
  background-color:#D4AC0D;
}

.actions{
  display: flex;
  justify-content: center;
  align-items: center;
}