<h1>{{title}}</h1>
<nav>
	<button mat-button routerLink="/allActivities">Bitácora</button>
	<button mat-button [matMenuTriggerFor]="reports_menu">Reportes</button>
	<mat-menu #reports_menu="matMenu">
	  <ng-container>
		<button mat-menu-item [matMenuTriggerFor]="estadistico_menu">Estadístico</button>
		<mat-menu #estadistico_menu="matMenu">
		   <button mat-menu-item routerLink="/activityStadistic">Actividades</button>
		   <button mat-menu-item>Material</button>
		</mat-menu>
		<button mat-menu-item [matMenuTriggerFor]="monitoreo_menu">Monitoreo</button>
		<mat-menu #monitoreo_menu="matMenu">
		   <button mat-menu-item>Actividades</button>
		   <button mat-menu-item>Material</button>
		</mat-menu>
	  </ng-container>
	</mat-menu>

	<button mat-button routerLink="/map">Mapa</button>
</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>
