<h1 class="title">Mapa</h1>
<div class="grid-three-spaces">
	<mat-form-field appearance="fill">
		<mat-label>Mapas: </mat-label>
		<mat-select [(ngModel)]="selectedMap" (selectionChange)="changeMapImageUrl($event.value)">
		   <div *ngFor="let locationType of mapTree">
		  <mat-optgroup [label]="locationType.element.nombre" >
					<mat-option *ngFor="let map of locationType.children" [value]="map.id" >
								{{map.nombre}}
					</mat-option>
		  </mat-optgroup>
		  </div>
		</mat-select>
	</mat-form-field>
	
	<mat-checkbox [(ngModel)]="isMainMap">
			<mat-label>¿Es mapa principal?</mat-label>	
	</mat-checkbox>

	<button id="processButton" (click)="processMap()" [disabled]="disableButton">Procesar Mapa</button>
</div>

<img #img [src]="mapImageUrl" (load)="onLoad()" style="display: none;"/>
<div id="map" class="map"></div>

<br/>
<br/>
<div class="drag-container">
	<div class="section-heading"><h3>{{regions.name}}</h3></div>
	<div cdkDropList id="{{regions.id}}" [cdkDropListData]="regions.regionList"
	  [cdkDropListConnectedTo]="regionsConnectedTo" class="item-list" (cdkDropListDropped)="regionDrop($event)">
	  <button id="button-{{regionItem.id}}" class="item-box" (click)="pulse($event, regionItem)" *ngFor="let regionItem of regions.regionList" cdkDrag>{{regionItem.id}}</button>
	</div>
</div>
<div id="locations">
	<span class="placeName">Relaciona las regiones con las ubicaciones en: </span>
	<mat-form-field appearance="fill">
		<mat-label></mat-label>
		<mat-select [disabled]="disableLocationSelection" [(ngModel)]="selectedLocation"(selectionChange)="assignLocationList($event.value)">
		  <mat-option *ngFor="let superiorLocation of superiorLocations" [value]="superiorLocation.id">
			{{superiorLocation.tipoUbicacion.nombre + ' ' +superiorLocation.nombre}}
		  </mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div class="grid-six-spaces">
	<div *ngFor="let location of locations">
	  <div class="drag-container-locations">
		<div class="section-heading">{{location.name}}</div>
		<div cdkDropList id="{{location.id}}" [cdkDropListData]="location.regionList"
		  [cdkDropListConnectedTo]="connectedTo" class="item-list" (cdkDropListDropped)="drop($event)" >
		  <button id="button-{{regionItem.id}}" class="item-box" (click)="pulse($event, regionItem)" *ngFor="let regionItem of location.regionList" cdkDrag>
			{{regionItem.id}}
		  </button>
		</div>
	  </div>
	</div>
</div>
<div class="actions">
	<button (click)="save()" [disabled]="disableButton">Guardar</button>
	<button (click)="goBack($event)">Regresar</button>
</div>
<div class="overlay" *ngIf="processInProgress">
	<div class="center">
		<mat-progress-spinner mode="indeterminate">
		</mat-progress-spinner>
	</div>
</div>


