<div class="grid-two-spaces">
	<mat-label>Semestre:</mat-label>
	<mat-select [(ngModel)]="selectedSemester" (selectionChange)="filterStatistics()">
	  <mat-option *ngFor="let semester of semesters" [value]="semester.id">
		{{semester.nombre}}
	  </mat-option>
	</mat-select>

	<mat-label>Tipo de ubicaciones: </mat-label>
	<mat-select [(ngModel)]="selectedLocationType"(selectionChange)="filterStatistics()">
	  <mat-option *ngFor="let locationType of locationTypes" [value]="locationType.value">
		{{locationType.key}}
	  </mat-option>
	</mat-select>

	<mat-label>Tipos de gráficas: </mat-label>
	<mat-select [(ngModel)]="selectedChartType"(selectionChange)="changeChartType($event.value)">
	  <mat-option *ngFor="let charType of charTypes" [value]="charType.value">
		{{charType.key}}
	  </mat-option>
	</mat-select>
</div>

<img #img [src]="mapImageUrl" (load)="onLoad()" style="display: none;"/>
<div id="map" class="map" ></div>

<table style='width:20%; display: inline-block;'>
  <tr *ngFor="let category of superiorCategories; let i = index">
	<td><div class='circleList' style="background-color:{{chartColors[i]}};"></div></td>
	<td class='categories'>{{ category.nombre }}</td>
  </tr>
</table>





  