<!-- <ul class="activities">
  <li *ngFor="let activity of activities">
    <a routerLink="/detail/{{activity.id}}">
      <span class="badge">{{activity.id}}</span> {{activity.comentario}}
    </a>
    <button class="delete" title="delete activity"
      (click)="delete(activity)">x</button>
  </li>
</ul>-->
<link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css"> 

<div class="table-container">
	  <!-- (click) passes input value to add() and then clears the input 
	  <button (click)="add(activityName.value); activityName.value=''">
		add
	  </button>-->

    <div class="grid-container">
	  <div class="actions">
		<button mat-raised-button color="primary" routerLink="/create/">Crear</button>
	    <button mat-raised-button color="primary" [routerLink]="getDetailActivityUrl()"  [disabled]="isActivitySelected()">Editar</button>
		<button mat-raised-button color="primary" (click)="confirmDialog()"  [disabled]="isActivitySelected()">Borrar</button>
	  </div>
	  
	  <div>
		<mat-form-field>
			<mat-label>Semestre:</mat-label>
			<mat-select [(ngModel)]="selectedSemester" name="semester" (selectionChange)="filterActivitiesBySemester()">
			  <mat-option *ngFor="let semester of semesters" [value]="semester.id">
				{{semester.nombre}}
			  </mat-option>
			</mat-select>
		</mat-form-field>
	  </div>
	
		<div class="search">
			<mat-form-field>
			  <mat-label>Buscar</mat-label>
			  <input matInput (keyup)="applyFilter($event)" placeholder="">
			</mat-form-field>
		</div>
    </div>
	
	<div id="postip">
	  <h2>Nota:</h2>
	  <p *ngIf="selectedActivity">{{selectedActivity.comentario}}</p>
	</div> 
	 
	<div id="notebook" class="mat-elevation-z15">

	  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort >
	  	<!-- ID Column -->
		<ng-container matColumnDef="id">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
		  <td mat-cell *matCellDef="let row">
		    <mark *ngIf="row.esSiniestro; else hideId">{{row.id}}</mark>
			<ng-template #hideId>{{row.id}}</ng-template>
			</td>
		</ng-container>
		
	  	<!-- Prioridad Column -->
		<ng-container matColumnDef="prioridad">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header> Prioridad </th>
		  <td mat-cell *matCellDef="let row" >
			<img class="priority-icon" [src]="getPriorityImageUrl(row.prioridad)" alt="Prioridad" /></td>
		</ng-container>
		
	    <!-- Semestre Column -->
		<ng-container matColumnDef="semestre">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header> Semestre </th>
		  <td mat-cell *matCellDef="let row"> 
			<mark *ngIf="row.esSiniestro; else hideSemestre">{{row.semestre.nombre}}</mark>
			<ng-template #hideSemestre>{{row.semestre.nombre}}</ng-template>
		  </td>
		</ng-container>
	
		<!-- Periodo Column -->
		<ng-container matColumnDef="fechaAlta">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header> Periodo </th>
		  <td mat-cell *matCellDef="let row" >
			<mark  *ngIf="row.esSiniestro; else hidePeriodo">
				{{ row.fechaAlta + getFechaPeriodoText(row) }}
     			<b>{{ getFechaRequeridoText(row) }}</b>
			</mark>
			<ng-template #hidePeriodo>
				{{ row.fechaAlta + getFechaPeriodoText(row) }}
     			<b>{{ getFechaRequeridoText(row) }}</b>
			</ng-template>
    	  </td>
		</ng-container>
		
		<!-- Usuario Column -->
		<ng-container matColumnDef="usuario">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
		  <td mat-cell *matCellDef="let row" > 
			<mark *ngIf="row.esSiniestro; else hideUsuario">{{row.usuario.first_name}}</mark>
			<ng-template #hideUsuario>{{row.usuario.first_name}}</ng-template>
		  </td>
		</ng-container>
		
		<!-- Categoria Column -->
		<ng-container matColumnDef="categoria">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header> Actividad </th>
		  <td mat-cell *matCellDef="let row" >
			<mark *ngIf="row.esSiniestro; else hideCategoria"> {{row.categoria.nombre}} </mark>
			<ng-template #hideCategoria>{{row.categoria.nombre}}</ng-template>
		  </td>
		</ng-container>
		
		<!-- Ubicacion Column -->
		<ng-container matColumnDef="ubicacion">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación </th>
		  <td mat-cell *matCellDef="let row" > 
			<mark *ngIf="row.esSiniestro; else hideUbicacion">{{getUbicacionText(row)}}</mark>
			<ng-template #hideUbicacion>{{getUbicacionText(row)}}</ng-template>
		  </td>
		</ng-container>
		
		<!-- Dispositivo Column -->
		<ng-container matColumnDef="dispositivo">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header> Dispositivo </th>
		  <td mat-cell *matCellDef="let row" >
			<mark *ngIf="row.esSiniestro; else hideDispositivo">{{getDispositivoText(row)}} </mark>
			<ng-template #hideDispositivo>{{getDispositivoText(row)}} </ng-template>
		  </td>
		</ng-container>
		
		<!-- Estado Column -->
		<ng-container matColumnDef="estado">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
		  <td mat-cell *matCellDef="let row" > 
			<img class="status-icon" [src]="getStatusImageUrl(row.estado)" alt="Estado" />
		  </td>
		</ng-container>
		
		<!-- Actividad Superior Column -->
		<ng-container matColumnDef="actividadSuperior">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
		  <td mat-cell *matCellDef="let row"> 
			<img *ngIf="row.actividadSuperior" class="attach-icon" src="\.\./static/images/tachuelaMorada.jpg" alt="Attach" />
		  </td>
        </ng-container>
		
		 <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
		  <ng-container matColumnDef="expandedDetail">
			<td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
			  <div class="element-detail" *ngIf="row.actividadSuperior"
				   [@detailExpand]="row == expandedActivity && row.actividadSuperior != null ? 'expanded' : 'collapsed'">
				<div class="element-description">
				 <span class="description-attribution">Actividad Superior : </span>
				  {{row.actividadSuperior.id + ".- " + row.actividadSuperior.usuario.first_name + " reporta " + row.actividadSuperior.categoria.nombre }}
				</div>
			  </div>
			</td>
			<ng-template #NoShow></ng-template>
		  </ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"
				[ngClass]="{'highlight': selectedActivity == row}" 
				[class.expanded-row]="expandedActivity === row"
				(click)="rowSelected(row);" ></tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
	  </table>

	  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>

</div>	